body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('./figures/bg1.png');
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
    align-items: flex-start;
}

.info-box, .leaderboard {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    width: 150px;
    min-height: 100px; /* Mindesthöhe für mehr Inhalt */
    flex-grow: 1; /* Wächst mit mehr Inhalt */
}

.leaderboard {
    order: 1; /* Ganz links */
}

.game-ui{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    width: 200px;
    min-height: 100px; /* Mindesthöhe für mehr Inhalt */
    flex-grow: 1; /* Wächst mit mehr Inhalt */
    margin-left: 50px; /* Seitlicher Abstand links */
    margin-right: 50px; /* Seitlicher Abstand rechts */
}

.info-box {
    order: 3; /* Ganz rechts */
}

.game-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
}

#card {
    width: 150px;
    height: 220px;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    font-weight: bold;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border: 2px solid black;
    margin-top: 50px; /* Abstand zur H2-Box */
}

.card-value {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.5rem;
}

.card-symbol {
    font-size: 2rem;
}

.card-value-bottom {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1.5rem;
    transform: rotate(180deg);
}

button {
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

.symbol {
    font-size: 1.5rem;
    margin: 5px 0;
}
